@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing-main{
    background: url(../images/kyle-johnson-8Gl7Ew-q6D8-unsplash.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.w-60{
    width: 60%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#form{
    margin-top: 3rem;
}

.main-form, button{
    background-image: linear-gradient(to right,#79A4D9, #906DBD)
}

h4::first-letter, .letter-e{
     
    border-bottom: 2px solid #906DBD;
}
.pos-pwd{
    position: relative;
}

.pos-pwd i{
    cursor: pointer;
    position: absolute;
    right: 1.2rem;
    bottom: 1.5rem;
    color: #79A4D9;
}

.pos-pwd i:focus, .pos-pwd i:active{
    color: #906dbd;
}

form{
    background-color: #fcfcfc;
    border-radius: 3px;
}

::placeholder{
    color: #555267;
}

nav{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 3.4rem;
    position: fixed;
    width: 100%; 
    z-index: 1;
}


nav .mainMenu{
    display: flex;
    list-style: none;
}

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .9rem;
}

nav .mainMenu li a:hover{
    background: rgb(255, 94, 0);
    color: chartreuse;
}

nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo h1{
    margin: 6px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.welcome{
    text-align: center;
    justify-content: center;
    padding-top: 7rem;
}

.welcome h1{
    color: aliceblue;
    font-size: 3rem;
}

.welcome p{
    padding-top: 5rem;
    color: rgb(255, 238, 0);
}

.about-welcome{
    /* background-color: #f0f0f0;
    opacity: 0.9;
    width: 70%;
    height: 60%;
    border-radius: 30px; */
    
    border: 5px solid black;
    background-color: rgba(248, 247, 247, 0.8);
    border-radius: 20px;
    position: absolute;
    width: 80%;
    max-width: 600px;
    top: 20%;
    left: 0px;
    right: 0px;
    height: auto;
    margin: 0px auto;
    padding: 3px;
}

.about-welcome p{
    color: black;
    font-size: large;
    padding: 3rem 3rem 0rem 3rem;
    font-weight: bolder;
}

#about-main{
    background: url(../images/Sample\ D.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

@media(max-width: 800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu{
        display: block;
    }

    nav .mainMenu li a:hover{
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1rem;
    }

}

@media(max-width: 450px){
    nav{
        height: 5rem;
    }
    form{
        width: 90% !important;
    }
}

@media(max-width: 280px){
    nav{
        height: 7rem;
    }
}

@media(max-width: 235px){
    nav{
        height: 8rem;
    }
}